a{
    text-decoration: none;
    color:inherit
}




ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #0a0a0a;
    
    
}

.header{
    background-color: #FFF8DC;
    padding: 30px 0 30px;
    color:#717171
}




.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.phone{
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}


.menu-item1,
.menu-item2{
    padding-right: 30px;
}

.menu-link,
.phone{
    font-size: 24px;
    line-height: 29px;

}

.headline{
    background-color: white;
    padding: 70px 0 40px;

    text-align: center;
}

.title{
    text-transform: uppercase;
    margin:0 0 40px;
    color: rgb(17, 0, 255);
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}


.headlineimg{
    margin-bottom: 50px;
}

.btn{
    display: inline-block;
    font-weight: 700;
    align-items: center;
    font-style: 24px;
    line-height: 29px;
    font-size: 24px;
    margin-top: 30px;
    text-transform: uppercase;
    color: black;
    background-color: #FFF8DC;
    padding: 22px 117px 19px;
    border-radius: 30px;
    
}



.news{
    padding: 90px 0 150px;
}


.news-title,
.cmr-title{
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}


.news-text p{
    max-height: 560px;
    margin: 0 0 30px;
    font-size: 15px;
}

.news-text b{
    max-height: 300px;
    margin: 0 0 30px;
    font-size: 20px;
}

.cmr{
    padding-bottom: 150px;
}
.color-list{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.footer{
    background-color: #FFF8DC;
}

.footer-link{
    flex-basis: 0;
    flex-grow: 1;
    font-size: 24px;
    line-height: 29px;
}

.footer-inner{
    display: flex;
    color: #717171;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}


@media (max-width:1200px) {
    .headlineimg{
        max-width: 100%;
    }
}


@media (max-width:560px) {
    .title{
        font-size: 34px;
        line-height: 42px;
    }
    .btn{


        line-height: 29px;
        font-size: 24px;


        padding: 18px 90px ;

        
    }
}

